<!--===== ABOUT =====-->
<section class="about section" id="about">
  <h2 class="section-title">About</h2>

  <div class="container">
    <div class="about__img">
      <img src="../../assets/pexels-photo-4930018.jpeg" alt="image">
    </div>

    <div class="about__text-container">
      <h2 class="about__subtitle">I'm Erfaneh</h2>
      <p class="about__text">I used to be a dietitian for several years and although I loved my job, I always had a dream of working as a web developer.<br>
        Finally, last year I decided to persue this dream of mine and started to learn coding. I participated in several online courses
        and watched lots of tutorials, as well as practiced creating different web applications. <br/>
        Today, I am able to create beautiful websites for different businesses and I absolutely love the fact that there is
        still a lot that I can learn in order to be a better developer each and every day!      </p>
    </div>
  </div>
</section>
