<!--===== WORK =====-->
<section class="work section" id="work">
  <h2 class="section-title">Work</h2>
  <h4>Here are some of my favorite projects that I have been working on to challenge myself.</h4>
    <h4>To see more, please visit my github page.</h4>

  <div class="work__container">
    <div class="work__img">
      <img src="../../assets/forkify.png" alt="image1">
    </div>
    <div class="work__img">
      <img src="../../assets/omni food.png" alt="image2">
    </div>
    <div class="work__img">
      <img src="../../assets/sweet shop.png" alt="image3">
    </div>
    <div class="work__img">
      <img src="../../assets/comfy house.png" alt="image4">
    </div>
    <div class="work__img">
      <img src="../../assets/keyboard.png" alt="image5">
    </div>
    <div class="work__img">
      <img src="../../assets/pig game.png" alt="image6">
    </div>
  </div>
</section>

