<!--===== WORK =====-->
<section class="work section" id="work">
  <h2 class="section-title">Work</h2>
  <h4>Here are some of my favorite projects that I have been working on to challenge myself.</h4>
    <h4>To see more, please visit my github page.</h4>

  <div class="work__container">
    <div class="work__img">
      <a href="" target="blank"><img src="../../assets/forkify.png" alt="image1"></a>
    </div>
    <div class="work__img">
      <a href="https://omnifood-fds.netlify.app/" target="blank"><img src="../../assets/omni food.png" alt="image2"></a>

    </div>
    <div class="work__img">
      <a href="https://grandmas-sweets-shop.netlify.app/" target="blank"><img src="../../assets/sweet shop.png" alt="image3"></a>
    </div>
    <div class="work__img">
      <a href="https://comfyhouse-project-test.netlify.app/" target="blank"><img src="../../assets/comfy house.png" alt="image4"></a>
    </div>
    <div class="work__img">
      <a href="https://vanilajs-virtual-keyboard.netlify.app/" target="blank"><img src="../../assets/keyboard.png" alt="image5"></a>
    </div>
    <div class="work__img">
      <a href="https://simple-dice-game.netlify.app/" target="blank"><img src="../../assets/pig game.png" alt="image6"></a>
    </div>
  </div>
</section>

