

.skills__subtitle{
  font-size:1.7vw;
}

.skills__img{
  display:grid;
  grid-template-columns: 1fr 1fr;
 padding-top: 8vh;
}

.skills__text{
 padding-top: 5vh;
  margin-bottom: 5vw;
}

.skills__data{
  margin-bottom: 3vw;
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:35vw;
  height: 6vh;
  border-radius: .5vw;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  padding-top:1vh
}

.skill__data-text{
  padding-left:2vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.skills__names,
.skills__percentage{
  font-weight: 600;
}

.skills__names{
  display: flex;
}

.skills__icon{
  color:#33cccc;
  font-size: 2.2vw;
  margin-right: 1.5vw;
}

.skills__bar{
  background-color:#33cccc ;
  height: .5vh;
  padding-bottom: -1vh;
}

.skills__html {width:95%;}

.skills__CSS3 {width: 85%;}

.skills__js{width: 80%;}

.skills__angular{width: 65%;}

.skills__img{
  width:40vw;
  border-radius: 5px;
  padding-left:5vw;
  padding-top: 5vh;
}

.section-title{width:7vw;}

.animate__animated.animate__fadeIn{
  animation-duration: 2s;
}

.animate__fadeIn:nth-child(2){animation-delay: 1s;}
/* .animate__animated.animate__fadeIn:nth-child(3){animation-delay: 2s;}
.animate__animated.animate__fadeIn:nth-child(4){animation-delay: 3s;} */
