<!--===== SKILLS =====-->
<section class="skills section" id="skills">
  <h2 class="section-title">Skills</h2>

  <div class="skills__img">
    <div class="skills__container">
      <div>
        <h2 class="skills__subtitle">Profesional Skills</h2>
        <p class="skills__text">Since I started coding, I have learned the core skills for creating eye-catching websites.
          I have also learned Angular, which gives me the ability to create single-page applications that run much quicker in the browser.
        </p>

        <div class="skills__data animate__animated animate__fadeInLeft">
          <div class="skill__data-text">
            <div class="skills__names">
            <i class='bx bxl-html5 skills__icon'></i>
            <span class="skills__name">HTML5</span>
          </div>
          <div>
            <span class="skills__percentage">95%</span>
          </div>
          </div>
          <div class="skills__bar skills__html">
          </div>
        </div>

        <div class="skills__data animate__animated animate__fadeInLeft">
          <div class="skill__data-text">
            <div class="skills__names">
              <i class='bx bxl-css3 skills__icon'></i>
              <span class="skills__name">CSS3</span>
            </div>
            <div>
              <span class="skills__percentage">85%</span>
            </div>
          </div>
          <div class="skills__bar skills__CSS3">
          </div>
        </div>

        <div class="skills__data animate__animated animate__fadeInLeft">
          <div class="skill__data-text">
            <div class="skills__names">
              <i class='bx bxl-javascript skills__icon'></i>
              <span class="skills__name">JAVASCRIPT</span>
            </div>
            <div>
              <span class="skills__percentage">80%</span>
            </div>
          </div>
          <div class="skills__bar skills__js">
          </div>
        </div>

        <div class="skills__data animate__animated animate__fadeInLeft">
          <div class="skill__data-text">
            <div class="skills__names">
              <i class='bx bxl-angular skills__icon'></i>
              <span class="skills__name">Angular</span>
            </div>
            <div>
              <span class="skills__percentage">65%</span>
            </div>
          </div>
          <div class="skills__bar skills__angular">
          </div>
        </div>

      </div>
    </div>
    <div class="img__container">
      <img src="../../assets/pexels-photo-1181298.jpeg" alt="image" class="skills__img">
    </div>
  </div>

</section>
