<!--===== HEADER =====-->
<header class="header">
  <nav class="navbar">
    <div>
      <img class="nav__logo" src="../assets/E Logo.png">
    </div>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item"><a routerLink="/home" routerLinkActive="active" class="nav__link" (click)="toHome()">Home</a></li>
        <li class="nav__item"><a routerLink="/about" routerLinkActive="active" class="nav__link" (click)="toAbout()">About</a></li>
        <li class="nav__item"><a routerLink="/skills" routerLinkActive="active" class="nav__link" (click)="toSkills()">Skills</a></li>
        <li class="nav__item"><a routerLink="/work" routerLinkActive="active" class="nav__link" (click)="toWork()">Work</a></li>
        <li class="nav__item"><a routerLink="/contact" routerLinkActive="active" class="nav__link" (click)="toContact()">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>

<!--===== All Contents =====-->
<main class="l-main">

  <app-home id="home"></app-home>
  <app-about id="about"></app-about>
  <app-skills id="skills"></app-skills>
  <app-work id="work"></app-work>
  <app-contact id="contact"></app-contact>

</main>

<!--===== FOOTER =====-->
<footer class="footer">
  <p class="footer__title">Erfaneh Faramarzi</p>
  <p>&#169; 2021 copyright all right reserved</p>
</footer>
