<!--===== HEADER =====-->
<header class="header">
  <nav class="navbar">
    <div>
      <img class="nav__logo" src="../assets/E Logo.png">
    </div>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link active">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">About</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Skills</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Work</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>

<!--===== All Contents =====-->
<main class="l-main">

  <app-home></app-home>
  <app-about></app-about>
  <app-skills></app-skills>
  <app-work></app-work>
  <app-contact></app-contact>

</main>

<!--===== FOOTER =====-->
<footer class="footer">
  <p class="footer__title">Erfaneh Faramarzi</p>
  <p>&#169; 2021 copyright all right reserved</p>
</footer>
