<!--===== HOME =====-->
<section class="home">
  <div class="home__top">
    <div class="home__data">
    <h1 class="home__title animate__animated animate__backInLeft">Hi,<br>I'm <span class="home__title-color">Erfaneh</span><br>
      <span class="job">Front end Web De<span class="white">veloper</span></span></h1>
   <button class="button animate__animated animate__pulse" (click)="toContact()">Contact Me</button>
  </div>

  </div>

  <div class="home__social">
    <a href="https://www.linkedin.com/in/erfaneh-faramarzi-481021153/" class="home__social-icon" target="blank"><i class='bx bxl-linkedin'></i></a>
    <a href="https://github.com/erf-frz" class="home__social-icon" target="blank"><i class='bx bxl-github'></i></a>
  </div>


</section>
